@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");

:root {
    --font-heading: "PT Sans", sans-serif;
    --primary-color: #b80257;
}

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.5rem;
}

button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

button {
    color: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* top-page */
.top-page {
    display: flex;
    min-height: 498px;
    background: linear-gradient(rgba(0, 0, 0, 0.6)),
        url(../img/bg-banner-shop.jpg) center / cover no-repeat;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.header-logo-wrap {
    margin-right: auto;
}

.header .logo {
    margin-right: auto;
    height: 33px;
}

.nav {
    display: flex;
}

.nav > li {
    position: relative;
}

.nav > li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    scale: 1 0;
    transform-origin: top left;
    transition: scale ease-in-out 0.3s;
}

.nav > li:hover .sub-menu {
    scale: 1;
}

.nav .sub-menu li {
    background: #fff;
    transition: background ease-in-out 0.3s;
}

.nav .sub-menu li:hover {
    background: var(--primary-color);
}

.nav .sub-menu li a {
    display: block;
    min-width: 220px;
    font-size: 1.6rem;
    padding: 15px 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    text-transform: capitalize;
    translate: 0;
    transition: ease-in-out 0.3s;
    transition-property: color, translate;
}

.nav .sub-menu li:last-child a {
    border-bottom: none;
}

.nav .sub-menu li a:hover {
    translate: 4px 0;
    color: #fff;
}

.nav > li > a {
    display: block;
    min-width: 90px;
    padding: 16px 24px;
    font-family: var(--font-heading);
    font-weight: 700;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.user-actions {
    position: relative;
    display: flex;
    margin-left: 16px;
}

.user-actions .action-btn {
    color: #fff;
    font-size: 16px;
    padding: 15px;
    font-weight: 600;
}

.user-actions .open-search-form:checked ~ .search-form {
    display: block;
}

.user-actions .search-form {
    position: absolute;
    top: 100%;
    right: 31px;
    padding: 5px;
    height: 55px;
    background: #fff;
    display: none;
}

.user-actions .search-form .search-input {
    display: inline-block;
    min-width: 270px;
    padding: 12px 49px 12px 10px;
    border: 1px solid #ececec;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

.user-actions .search-form .search-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 13px;
    font-size: 14px;
    color: #fff;
    background: var(--primary-color);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    color: #fff;
}

.hero .title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumbs {
    display: flex;
    margin-top: 10px;
}

.breadcrumbs li a {
    font-family: "PT Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
}
.breadcrumbs li:first-child a,
.breadcrumbs li:nth-child(2) a {
    transition: color ease-in-out 0.3s;
}

.breadcrumbs li:first-child a:hover,
.breadcrumbs li:nth-child(2) a:hover {
    color: #783df0;
}

.breadcrumbs li + li::before {
    content: "/";
    margin-left: 5px;
    margin-right: 2px;
}

/* Shop page */
.main {
    margin-top: 110px;
}

.shop-page .row {
    display: flex;
    gap: 30px;
}

.shop-sidebar {
    width: 23%;
}

.shop-sidebar .search-form {
    position: relative;
}

.shop-sidebar .search-input {
    width: 100%;
    height: 45px;
    background: #eeeeee;
    border: none;
    padding: 0 102px 0 10px;
    font-style: italic;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
}

.shop-sidebar .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 45px;
    color: #fff;
    background: var(--primary-color);
}

.sidebar-shop-categories {
    margin: 60px 0;
}

.sidebar-shop-categories h4,
.shop-popular-product h4 {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
}

.sidebar-shop-categories li a {
    display: block;
    font-size: 1.6rem;
    color: rgba(36, 34, 34, 0.7);
    margin-bottom: 15px;
    transition: color ease-in-out 0.3s;
}

.sidebar-shop-categories li a:hover {
    color: var(--primary-color);
}

.shop-popular-product li {
    display: flex;
    margin-bottom: 30px;
}

.shop-popular-product li:last-child {
    margin-bottom: 0;
}

.shop-popular-product li img {
    width: 100px;
    object-fit: cover;
}

.shop-popular-product li .name {
    width: calc(100% - 100px);
    padding: 0 20px;
    font-family: var(--font-heading);
}

.shop-popular-product li .name h5 {
    font-size: 1.8rem;
    color: #242222;
    margin: 13px 0;
    transition: color ease-in-out 0.3s;
}

.shop-popular-product li:hover .name h5 {
    color: var(--primary-color);
}

.shop-product {
    width: calc(77% - 30px);
}

.top-selection-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-selection-section li {
    position: relative;
}

.top-selection-section .select-btn {
    display: flex;
    align-items: center;
    width: 200px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid #ececec;
    color: #6f6f6f;
}

.top-selection-section .filter-option {
    width: 100%;
    font-size: 1.6rem;
}

.top-selection-section .chevron-down-btn {
    display: flex;
    align-items: center;
    width: 34px;
    height: 45px;
    font-size: 1.2rem;
}

.top-selection-section .showing-result {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.select-btn:has(:checked) ~ .dropdown-menu {
    display: block;
}

.top-selection-section .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.23);
}

.top-selection-section .dropdown-menu li a {
    display: block;
    padding: 12px 20px;
    font-size: 1.6rem;
    color: #333;
    background: #fff;
    transition: ease-in-out 0.3s;
    transition-property: background, color;
}

.top-selection-section .dropdown-menu li:hover a {
    color: #fff;
    background: var(--primary-color);
}

.shop-product .product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
    gap: 30px;
}

.shop-product .product-item {
    width: calc((100% / 3) - 20px);
}

.shop-product .product-item .image {
    overflow: hidden;
}

.shop-product .product-item:hover img {
    scale: 1.1;
}

.shop-product .product-item img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    transition: scale ease-in-out 0.5s;
}

.shop-product .product-item .info {
    border: 1px solid #f0f0f3;
    border-top: none;
    text-align: center;
    padding: 32px 0 35px 0;
}

.shop-product .product-item .title a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: #242222;
}

.shop-product .product-item .price {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 700;
    margin: 12px 0 15px 0;
}

.shop-product .product-item .add-to-cart-btn {
    position: relative;
    display: inline-block;
    width: 130px;
    padding: 13px 10px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 99px;
    background: var(--primary-color);
    transition: translate ease-in-out 0.3s;
}

.shop-product .product-item .add-to-cart-btn::before {
    pointer-events: none;
    position: absolute;
    content: "";
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-property: opacity, translate;
}

.shop-product .product-item .add-to-cart-btn:hover::before {
    opacity: 1;
    translate: 0 5px;
}

.shop-product .product-item .add-to-cart-btn:hover {
    translate: 0 -5px;
}

.shop-pagination {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 10px;
}

.shop-pagination li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    background: var(--primary-color);
    transition: background ease-in-out 0.3s;
}

.shop-pagination li a:hover {
    background: #783df0;
}

.shop-pagination li:last-child {
    margin-left: 10px;
}

.shop-pagination .arrow-right-icon {
    font-size: 1.4rem;
}

/* Footer */
.footer {
    margin-top: 100px;
    background: #151515;
    padding: 80px 0 160px;
    color: rgba(255, 255, 255, 0.6);
}

.footer .row {
    display: flex;
    gap: 30px;
}

.footer-logo,
.footer-subscribe {
    width: 23%;
}

.footer-logo .logo {
    height: 33px;
}

.footer-logo .desc {
    margin-top: 23px;
    font-size: 1.4rem;
    line-height: 1.5;
}

.footer-logo .copyright {
    margin-top: 20px;
    font-size: 1.4rem;
}

.row-app {
    display: flex;
    margin-top: 30px;
    gap: 25px;
    align-items: flex-end;
}

.footer .column,
.footer-subscribe {
    position: relative;
    top: 10px;
}

.footer .column {
    width: calc((54% - 120px) / 3);
}

.footer .column .title,
.footer-subscribe .title {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 27px;
}

.footer .column li a {
    display: inline-block;
    padding: 8px 0;
    transition: color ease-out 0.3s;
}

.footer .column li a:hover {
    color: var(--primary-color);
}

.footer-subscribe .subcribe-form {
    margin-top: 25px;
}

.footer-subscribe .subscribe-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 99px;
    outline: none;
    border: none;
    background: #272727;
    color: inherit;
}

.subscribe-btn {
    position: relative;
    min-width: 95px;
    padding: 11px 10px;
    margin-top: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    background: var(--primary-color);
    overflow: hidden;
}

.subscribe-btn::before {
    position: absolute;
    inset: 0;
    content: "";
    background: #fff;
    border-radius: inherit;
    scale: 0;
    transition: scale ease-out 0.3s;
}

.subscribe-btn:hover::before {
    scale: 1;
}

.subscribe-btn span {
    position: relative;
    z-index: 1;
    transition: color ease-out 0.3s;
}

.subscribe-btn:hover span {
    color: var(--primary-color);
}

.scroll-top {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    color: #fff;
}
