* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Common */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

table {
    border: 3px solid #000;
    border-collapse: collapse;
}

th,
td {
    border: 3px solid #000;
    padding: 10px 6px 2px 10px;
}

.dfcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-110 {
    min-width: 110px;
}

.min-w-130 {
    min-width: 130px;
}

.w-30 {
    width: 30px;
}

.w-158 {
    width: 158px;
}

.b {
    font-weight: 700;
}

.mt-6 {
    margin-top: 6px;
}
.mt-12 {
    margin-top: 12px;
}

.mt-20 {
    margin-top: 20px;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-2 {
    padding-bottom: 2px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-24 {
    padding-top: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.center {
    vertical-align: middle;
    text-align: center;
}

.center-h {
    text-align: center;
}

.to-left {
    text-align-last: left;
}

.to-right {
    text-align: right;
}

.to-bottom {
    vertical-align: bottom;
}

.display-b {
    display: block;
}

.admin-table {
    border: 2px solid #f1efef;
}

.admin-table th,
.admin-table td {
    border: 2px solid #f1efef;
    vertical-align: middle;
    padding: 8px;
}

.bg-th {
    background: rgb(235, 235, 237);
}

/* admin-table.html */
.admin-table td img {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 6px;
}

.active {
    display: inline-block;
    color: rgb(57, 161, 101);
    background: rgb(222, 239, 229);
    padding: 6px;
    border-radius: 4px;
}

.not-found {
    display: inline-block;
    color: rgb(242, 207, 93);
    background: rgb(253, 246, 228);
    padding: 6px;
    border-radius: 4px;
}
